.VisionSection {
  padding: 10px 20px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "b";

  padding-top: 2%;
}

.VisionSectionA {
  grid-area: a;
  display: none;
  padding: 1% 4%;
}

.VisionSectionB {
  grid-area: b;
}

.VisionSectionC {
  grid-area: c;
  display: none;
}

@media (min-width: 768px) {
  .VisionSection {
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .VisionSectionA {
    display: inline-block;
  }

  .VisionSection {
    padding: 1% 0% 4% 0%;

    grid-template-columns: 50% 50%;
    grid-template-areas:
      "a a"
      "b c"
      "b c";
  }
  .VisionSectionA {
    padding: 2% 5% 5% 5%;
  }
  .VisionSectionB {
    text-align: left;
    padding-left: 10%;
    padding-right: 5%;
  }

  .VisionSectionC {
    text-align: left;
    padding-left: 10%;
    padding-right: 5%;
  }
  .VisionSectionD {
    text-align: left;
    padding-left: 10%;
    padding-right: 5%;
  }

  .VisionSectionC {
    display: inline-block;
    padding-right: 10%;
    padding-left: 5%;
  }

  .VisionSectionB p {
    text-align: start;
  }

  .VisionSectionB h3 {
    text-align: start;
  }

  .VisionSectionB h1 {
    text-align: start;
    color: #b8b8b8;
  }

  .VisionSectionC p {
    text-align: start;
  }

  .VisionSectionC h3 {
    text-align: start;
  }

  .VisionSectionC h1 {
    text-align: start;
    color: #b8b8b8;
  }
  .VisionSectionD p {
    text-align: start;
  }

  .VisionSectionD h3 {
    text-align: start;
  }

  .VisionSectionD h1 {
    text-align: start;
    color: #b8b8b8;
  }
}
