.HomePage {
  overflow: hidden;
  text-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
/* .CsHeadingSection{
  background-image: url("../../Assets/IMG_7490.JPG");
  background-color: #ffffff83;
  background-size: cover;
   padding: 50px; 
} */
#HomePageHeader {
  grid-area: header;
}
#HomePageHeadingOne {
  grid-area: "heading";
}
#HomePageCarouselOne {
  grid-area: carouselOne;
  padding: 0px;
  margin: 0px;
  z-index: -3;
}

#HomePageCarouselTwo {
  grid-area: carouselTwo;
}

#HeadingSectionDescription p {
  margin-top: 0%;
  margin-bottom: 5%;
}

#HomePageCarouselThree {
  grid-area: carouselThree;
  padding: 0px;
  margin: 0px;
}
.button {
  width: auto;
  background-color: #880d1e;
  border: none;
  color: white;
  padding: 15px 15px;
  padding-right: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}
