.AnchorLink a  {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  color:white;
  margin: auto 0;
}

@media (min-width: 1024px) {
  .AnchorLink a {
    font-size: 16px; 
  }
}
