.AnchorLink a {
  font-weight: 600;
  font-size: 14px;
  color: #181818;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .AnchorLink a {
    font-size: 16px;
  }
}
