.BodyOneJustified p {
  font-weight: 400;
  font-size: 14px;
  color: #1d2129;
  letter-spacing: 0;
  text-align: justify;
  line-height: 27px;
  margin: 0%;
}

@media (min-width: 400px) {
  .BodyOneJustified p {
    font-size: 14px;
    font-weight: 300;
  }
}

@media (min-width: 768px) {
  .BodyOneJustified p {
    font-size: 14pt;
    line-height: 19pt;
    font-weight: 400;
  }
}
