.faculty {
  margin-top: 10%;
}
.facultyContent {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  align-content: center;
  padding: 20px 0;
  font-size: 30px;
}
