.sidenav {
  width: 200px;
  position: fixed;
  z-index: 0;
  top: 50%;
  left: 10px;
  background: rgba(238, 238, 238, 0.788);
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #880d1e;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}
.Main {
  margin-left: 160px; /* Same width as the sidebar + left position in px */
  padding: 0px 10px;
  z-index: 0;
}
