.button {
  width: 250px;
  background-color: #880d1e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: absolute;
  top: 650px;
  left: 0;
  display: block;
  overflow: none;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #880d1e;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.content {
  margin-left: 265px; /* Same width as the sidebar + left position in px */
  padding: 0px 10px;
}
@media screen and (min-width: 700px) {
  .dropdownD {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .sidemenu {
    display: none;
  }
  .button {
    display: none;
    width: 60%;
    align-self: center;
  }
  .content {
    margin-left: 0%;
  }
  .sidenav a {
    font-size: 18px;
  }
  .dropdownD {
    width: 100%;
    position: relative;
    display: inline-block;
  }
  .dropdownD-content {
    display: none;
    position: absolute;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}
