.root{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 4fr;
}
.content {
  float: left;
  display: block;
  background-color: yellow;
  margin-left: 265px;
  padding: 0px 10px;
  /* margin-left: -10%; */
}
.side{
  background-color: green;
  float: left;
  
}
