.ResourcesList {
  display: grid;
  justify-items: center;
  margin: 5% 0%;
  /* border: 1px solid #880d1e; */
}

.ResourcesList h4 {
  color: #880d1e;
}

@media (min-width: 560px) {
  .ResourcesList {
    margin: 10% 0%;
  }
}

a {
  text-decoration: none;
}
