.MenuOverlay {
  background-color: white;
  color: azure;
  text-align: center;
  align-items: center;
  align-content: center;
  padding-left: auto;
  height: 100%;
  overflow: auto;
}
.MenuOverlay a {
  text-decoration: none;
}

.MenuOverlayContent {
  display: grid;
}

#MenuOverlayCloseButton {
  justify-self: end;
  margin-right: 7%;
  margin-top: 4%;
  color: white;
  padding: 2.5% 5%;
  padding-bottom: 7%;
}

.MenuOverlayItem {
  padding: 5% 0%;
  font-size: 16px;
  background-color: #461c0c;
  width: 100%;
  font-weight: 900;
}

.MenuOverlayItem a {
  color: azure;
}

.MenuOverlaySubLinkGroup {
  display: grid;
  background: rgb(250, 255, 255);
}

.MenuOverlaySubLinkGroup a {
  color: black;
}

.MenuOverlaySubLinks {
  padding: 4% 0%;
  font-size: 16px;
}

#menuItem7 {
  color: azure;
}

@media (min-width: 560px) {
  #MenuOverlayCloseButton {
    width: 22px;
  }
}

@media (min-width: 768px) {
  .MenuOverlay {
    display: none;
  }
}
