@media screen and (min-width: 768px) and (max-width:1023px) {
    .ResourceItem img{
        height: 53px;	width: 53px;
    }
    .h3_WhyItem_label{
        font-size: 16px;	font-weight: 600;	letter-spacing: 1.71px;	line-height: 22px;
        padding: 0px 20px;
    }
    .WhyChooseUs div {
        grid-template-columns: repeat(3, minmax(200px, 717px));
    }
}