.Heading {
  text-align: left;
}
.about-para {
  margin: 7%;
  text-align: initial justify;
}
.inner-para {
  margin-left: 4%;
}

#AboutVjcTitle {
  padding: 2%;
}

#AcademicsPara1 {
  padding: 5%;
}
