#HomePageCarouselThree {
  padding: 5% 0% 15% 0%;
}

.CarouselThree {
  position: relative;
}

.CarouselThreeTop {
  padding-top: 20px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0px;
  overflow: none;
  grid-template-columns: 50% 50%;
  grid-template-areas: "one two";
  text-align: center;
}

#CarouselThreeNews {
  grid-area: one;
  padding-left: 10%;
  place-self: start;
}

.CarouselThreeArrows {
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
  grid-area: two;
}
.CarouselThreeArrowRight {
  margin-left: 10%;
}

#CarouselThreePreviousArrow {
  place-self: center;
}

#CarouselThreeNextArrow {
  place-self: center;
}

.CarouselThreeSlider {
  background: #fafafa;
  margin: 5%;
  display: grid;
  grid-template-columns: 100%;
}

.CarouselThreeSlide {
  padding: 5%;
}

.CarouselThreeSlide h5:nth-of-type(1) {
  text-transform: uppercase;
  color: #b8b8b8;
}
#Read h5 {
  text-transform: capitalize;
  color: #880d1e;
}
.CarouselThreePagination {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5%;
  display: flex;
  justify-content: center;
}

@media (min-width: 400px) {
  #HomePageCarouselThree {
    padding: 5% 0% 10% 0%;
  }

  .CarouselThreeSlider {
    margin: 5% 10%;
  }

  #CarouselThreeNews {
    padding-left: 30%;
  }
  .CarouselThreeArrows {
    margin-right: 30%;
  }
}

@media (min-width: 560px) {
  #HomePageCarouselThree {
    padding: 2.5% 0% 5% 0%;
  }

  .CarouselThreeArrows {
    margin-right: 25%;
  }

  #CarouselThreeNews {
    padding-left: 20%;
  }

  .CarouselThreePagination {
    bottom: 3.5%;
  }
}

@media (min-width: 768px) {
  .CarouselThreeSlider {
    margin: 2.5% 5%;
    grid-template-columns: 33% 33% 33%;
  }

  .CarouselThreeArrows {
    margin-right: 12%;
  }

  #CarouselThreeNews {
    padding-left: 10%;
  }
}

@media (min-width: 1024px) {
  .CarouselThreeArrows {
    margin-right: 12%;
  }

  .CarouselThreePagination {
    bottom: 5%;
  }
}

@media (min-width: 1440px) {
  .CarouselThreeContentWrapper {
    width: 1024px;
    margin: auto;
  }

  .CarouselThreePagination {
    bottom: 6%;
  }
}
