.Deptcontent {
  display: grid;
  grid-template-columns: 22% 75%;
  grid-template-areas: "sidenav data";
  grid-template-rows: 1fr;
  /* width: auto; */
  margin: auto;
  text-align: center;
}
.button {
  width: auto;
  background-color: #880d1e;
  border: none;
  color: white;
  padding: 0% auto;
  padding-right: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 650px;
  margin: 4px auto;
  cursor: pointer !important;
  /* no select */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  text-shadow: 0 0 0;
}
.button:hover {
  outline: none;
}
input {
  caret-color: transparent;
}
.sidenav {
  grid-area: sidenav;
}
.sidenav a {
  text-decoration: none;
  font-size: 18px;
  color: #880d1e;
}

.sidenav a:hover {
  color: #064579;
}

.content {
  /* background-color: green; */
  grid-area: data;
  padding: 5% 0%;   
}

@media screen and (min-width: 768px) {
  .dropdownD {
    display: none;
  }
  .sidemenu {
    display: block;
    padding: 15% 0% 15% 5%;
  }
}
@media screen and (max-width: 768px) {
  .Deptcontent {
    display: block;
  }
  .sidemenu {
    display: inline-block;
    padding: 15% 0% 15% 5%;
  }
  .sidenav {
    display: block;
  }
  .button {
    /* display: inline-block; */
    width: 250px;
    align-self: left;
    text-align: center;
  }
  .content {
    margin-left: 0%;
  }
  .sidenav a {
    font-size: 18px;
  }
  .dropdownD {
    width: 80%;
    position: relative;
    display: none;
  }
  .dropdownD-content {
    position: absolute;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdownD:hover .dropdownD-content {
    display: block;
  }
}
