.root {
  display: grid;
  grid-template-columns: 50% 40% 10%;
  grid-template-rows: 1fr;
}
.bgg {
  font-family: "Heebo", sans-serif;
}
.child {
  /*background-color: #E5E7E9;*/
  background-color: #ffffff;
  padding-left: 20%;
}
.Heading {
  color: #93001e;
  font: bolder 50px Arial;
  font-weight: 725;
  width: 100%;
  height: 50px;
  /* background-color: yellow; */
  text-align: center;
}
.Enquiry {
  font-family: "Heebo", sans-serif;
  font-family: "PT Sans Narrow", sans-serif;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 18px;
  text-align: start;
}

.Reach1 {
  color: #17202a;
  font-weight: 200;
  text-align: start;
}
.add {
  font: bold 30px sans-serif;
  text-align: start;
}
.image {
  max-width: 500px;
  margin-left: 100px;
}
.child .image {
  margin: 0px 0px;
  align-content: center;
}
.button {
  background-color: #93001e;
  width: 160px;
  height: 45px;
  color: white;
  font-family: "Heebo", sans-serif;
  font-family: "PT Sans Narrow", sans-serif;
  font-family: "Quattrocento Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  border: 3px solid #93001e;
}
textarea {
  width: 400px;
  height: 140px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 35px;
  border-radius: 7px;
  border: 1px solid #e5e7e9;
  font-size: 16px;
  background-color: grey;
}
.clr1 {
  margin-top: 10px;
  background-color: #e5e7e9;
  border-radius: 7px;
  width: 400px;
  height: 55px;
  border: 1px solid #e5e7e9;
  font-family: "Heebo", sans-serif;
  font-family: "PT Sans Narrow", sans-serif;
  font-family: "Quattrocento Sans", sans-serif;
  text-align: left;
  padding-left: 20px;
  font-size: 14px;
}
.clr {
  margin-top: 10px;
  background-color: #e5e7e9;
  font-family: "Heebo", sans-serif;
  font-family: "PT Sans Narrow", sans-serif;
  font-family: "Quattrocento Sans", sans-serif;
  text-align: left;
  padding-left: 20px;
  font-size: 14px;
  padding-top: 20px;
}
.child2 {
  padding-top: 20%;
}

#contactUsListing {
  padding: 5%;
}

#contactUsSubmitButton {
  width: 120px;
  height: 60px;
  background-color: #880d1e;
  color: white;
  padding: 0.5% 2%;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
  margin: 5%;
}

@media (min-width: 768px) {
  #contactUsSubmitButton {
    width: 140px;
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  #contactUsSubmitButton {
    width: 180px;
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  #contactUsSubmitButton {
    width: 220px;
    font-size: 20px;
  }
}
