.dropdown {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
}

.dropdown-content {
  text-align: left;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 0;
  padding-top: -12px;
}

.dropdown-content p .patch1{
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 10px 16px;
  border-radius: 0px;
  text-align: left;
  margin-bottom: -6px;
  padding-bottom: -6px;
  margin-top: -12px;
  padding-top: -6px;
}

.dropdown-content p .patch1:hover {
  background-color: #880d1e;
  color: #ffffff;
  display: block;


}
.dropdown:hover .dropdown-content {
  display: block;
}

@media (min-width: 1024px) {
  .dropdown {
    font-size: 16px;
  }
}
